<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans          
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context 
		   http://www.springframework.org/schema/context/spring-context.xsd
		   http://www.springframework.org/schema/tx
		   http://www.springframework.org/schema/tx/spring-tx.xsd">

	<bean id="emf" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<!-- Specify the name of the EntityManagerFactory configuration. -->
		<property name="persistenceUnitName" value="dev" />
	</bean>
	
	<bean id="txManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="emf" />
	</bean>
	
	<!-- Mensagens de erros personalizadas -->
 	<bean id="messageSource"
 		class="org.springframework.context.support.ResourceBundleMessageSource">
 		<property name="basenames">
 			<list>
 				<value>mymessages</value>
 			</list>
 		</property>
 	</bean>

	<!-- enable the configuration of transactional behavior based on 
		 annotations 
	-->
	<tx:annotation-driven transaction-manager="txManager" proxy-target-class="true" />

	<context:component-scan base-package="br.ufc.quixada.npi.repository" />
	<context:component-scan base-package="br.ufc.quixada.npi.service" />
	
</beans>